img {
  width: 100%;
}

.button {
  width: 100%;
  height: 80px;
  background-color:  #FF9800;
  font-size: 40px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 0 auto;
  max-width: 800px;
}

.content  {
  padding-top: 100px;
  padding-bottom: 80px;
  margin: 0 auto;
  max-width: 800px;
}

.author {
  color: #4AE6CE;
  font-weight: 600;
}

.price {
  color: #FF9800;
  font-weight: 600;
}