.content {
  padding-bottom: 80px;
}

.fristRow {
  height: 400px;
  width: 100%;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://homechef.imgix.net/https%3A%2F%2Fwww.homechef.com%2Fassets%2Fmarketing%2Fhow-it-works%2Fsection-one%2Fhero-desktop-991655196472af4c70b10623921e95340e989dbad5ff2c1c5fc7a2000b537558.jpg?ixlib=rails-1.1.0&s=5d29c9e22937b7e6eee40a6750a05008);
}

.fristRowTitle, h1 {
  color: #008600;
}

.secondRow {
  padding-top: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.secondRowContent {
  display: flex;
  flex-direction: column;
}

img { width: 100%;}

.secondRowContentLeft {
  width: 100%;
}

.secondRowContentRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
}

.secondRowContent:first-of-type, .secondRowContent:last-of-type {
  flex-direction: column-reverse;
}

@media screen and (min-width: 1200px) {
  .secondRowContent {
    flex-direction: row;
  }
  
  .secondRowContentLeft {
    width: 50%;
    padding: 30px;
  }
  
  .secondRowContentRight {
    width: 60%;
    padding-left: 80px;
  }
  
  .secondRowContent:first-of-type, .secondRowContent:last-of-type {
    flex-direction: row;
  }
}